.sub-menu{
    z-index: 1;
}
.vacancies-block__content{
    justify-content: unset;
}
.work-page{
    padding: 5rem 0 10rem 0;
}
.work-page__title{
    margin-bottom: 7rem;
    font-size: 3rem;
    line-height: 3.6rem;
}
.work-block__wrapper--page{
    margin-top: 3rem;
}
.about{
    background: #fff;
}
.aside .aside-menu li:hover{
    color: #3f86f9;
}
.metal-box__list-item.metal-box__list-item--lestnicy{
    color: #000;
}
.table-scroll{
    margin-bottom: 20px;
    overflow-x: auto;
}
.price{
    background-color: #d9edf7;
    text-align: center;
    font-weight: 700;
}




@media(max-width: 700px){
    .menu__list {
        margin-top: 9.5rem;
    }
    .logo--desctop{
        margin-right: 21rem;
    }
    .work-page__title{
        margin-bottom: 2rem;
        font-size: 2.4rem;
        line-height: 3rem;
    }
    .work-page{
        padding: 4rem 0 4rem 0;
    }
}
@media(max-width: 380px){
    .manufacturer-slider__item{
        height: 53rem;
    }
}



